.manga-full-page {
  background-color: rgb(76, 87, 76);
  width: 100%;
  min-height: 100vh;
  padding: 0 3vw;
  .upper {
    height: 22vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    .list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 6vh;
      width: 50%;
      select {
        outline: none;
        border: 1px solid rgba(211, 199, 199, 0.589);
        border-radius: 6px;
        padding: 5px 9px;
        color: rgba(241, 224, 224, 0.884);
        height: 100%;
        width: 70%;
        background-color: black;
        font-size: 17px;
      }
    }
    .filter {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 6vh;

      label {
        background-color: red;
        border: 1px solid rgba(211, 199, 199, 0.589);
        border-radius: 6px;
        background-color: black;
        display: flex;
        align-items: center;
        font-size: 25px;
        padding: 5px;
        width: 15vw;
        input {
          background-color: black;
          outline: none;
          border: none;
          padding: 5px 8px;
          width: 100%;
          height: 100%;
          font-size: 17px;
          &::placeholder {
            color: rgba(241, 224, 224, 0.884);
          }
        }
      }
    }
  }

  .cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    padding: 0 30px;
    a {
      .card {
        position: relative;
        height: 100%;

        &:hover {
          transform: scale(1.06);
          transition: 0.3s;
          cursor: pointer;
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        .desc {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          display: flex;
          flex-direction: column;
          padding: 20px;
          justify-content: space-between;
          align-items: center;
          opacity: 0;
          transition: 0.3s;
          font-size: 20px;
          text-align: center;
          &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
    .bouncing-loader {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 400px;
      margin-top: 150px;
    }

    .bouncing-loader > div {
      width: 16px;
      height: 16px;
      margin: 3px 6px;
      border-radius: 50%;
      background-color: #ada2ee;
      opacity: 1;
      animation: bouncing-loader 0.6s infinite alternate;
    }
    @keyframes bouncing-loader {
      to {
        opacity: 0.1;
        transform: translateY(-16px);
      }
    }

    .bouncing-loader > div:nth-child(2) {
      animation-delay: 0.2s;
    }

    .bouncing-loader > div:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}
